body {
    margin: 0;
    padding: 0;
    font-family: cormorant;
    overflow-x: hidden;
}

header ul {
    display: flex;
    align-items: center;
    gap: 65px;
    margin-left: 193px;
    padding-right: 10px;
    margin-right: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.prostranst {
    margin-left: 0px;
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}



header {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 61px;
}


.images__icon {
    display: flex;
    align-items: center;
}

.menu__width {
    padding-right: 20px;
}

header a {
    display: flex;
    margin-left: 150px;
    align-items: center;
    gap: 20px;

}

.icon {
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.image__main {
    display: grid;
}



.image__main a {
    display: flex;
    padding-left: 200px;
    color: white;
    position: absolute;

    font-size: 60px;
    line-height: 100%;
    padding-top: 254px;
    letter-spacing: 0%;
}

.image__main p {
    display: flex;
    padding-left: 200px;
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 24px;
    line-height: auto;
    padding-top: 394px;
    letter-spacing: 0%;
    opacity: 90%;
}

.image__main span {
    font-size: 24px;
}

.text {
    padding-top: 150px;
    padding-left: 448px;
    font-size: 40px;
    display: flex;
    text-align-last: center;
    font-style: italic;
    font-family: cormorant;
    opacity: 90%;


}

.tea__color {
    margin-top: 150px;
    margin-left: 200px;
    width: auto;

    margin-right: 200px;
    height: 335px;
    display: grid;

}

.tea__color ul {
    display: flex;
    justify-content: space-around;

}

.tea__color ul li {
    text-align: center;
    display: grid;
}

.tea__color ul li img {
    width: 208px;
    height: 208px;
}

.tea__text {
    padding-left: 421px;
    font-size: 40px;



}

.client__say {
    display: grid;
    background-color: #F7F2EA;
    margin-top: 150px;

    height: 397px;

}

.client__say__import {
    font-size: 40px;
    padding-top: 60px;
    padding-left: 641px;
    display: flex;
}

.client__say ul {
    width: 1198px;
    height: 169px;
    display: flex;
    padding-top: 60px;
    padding-left: 200px;
    gap: 26px;
    justify-content: space-around;
}

.client__say ul li p {
    width: 280px;

    font-size: 16px;
    font-style: italic;


}

.client__say ul li div {
    font-size: 20px;
    font-weight: Bold;
}


.tea__blog {
    display: grid;
    margin-top: 150px;
    margin-left: 200px;
    width: 1142px;

}

.tea__blog__import {
    font-size: 40px;
    padding-left: 470px;
    display: flex;
}

.tea__blog ul {
    display: flex;
    padding: 0px;


}

.tea__blog ul li {
    display: flex;
    width: 540px;
    height: 180px;

}

.tea__blog ul li div {
    display: grid;
    width: 542px;
    height: 180px;
    font-size: 24px;
    padding-left: 20px;

}

.tea__blog ul li div span {
    font-size: 13px;
    font-style: light;
    padding-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.tea__blog ul li div a {
    color: black;
    text-decoration: none;
    padding-top: 48px;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.li__margin {
    margin-right: 57px;
}

.blog__all {
    margin-left: 486px;
    border: 1px solid black;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 41px;
    padding-right: 41px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin-top: 60px;

}

.mailing__liss {
    display: flex;
    background-color: #F7F2EA;
    height: 418px;
    margin-top: 165px;
}



.container h2 {
    font-size: 40px;
    font-family: cormorant;
    padding-top: 100px;
    font-style: Regular;
    padding-left: 200px;
    margin-bottom: 0px;
    font-weight: 300;
}

.image__flower {
    position: absolute;
    margin-left: 882px;
}

.mailing__list__inner {
    display: flex;
}

.mailing__list__text {
    font-size: 20px;
    line-height: 150%;
    font-weight: 350;
    font-style: Light;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    margin-left: 200px;
    margin-top: 50px;
}

.mailing__list__form {
    margin-left: 40px;

}

label {
    display: flex;
}

.input-container {
    position: relative;
    height: 36px;
    background-image: url('know tea/Line 5.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    margin-bottom: -17px;
    width: 321px;
}

.mailing__list__email {
    width: 250px;
    padding-left: 19px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    height: 100%;
    color: #B8B58B;
}

.mailing__list__email::placeholder {
    font-size: 20px;
    color: #B8B58B;


}

.div__email {
    display: flex;
    align-items: center;
    padding-top: 52px;
}



.mailing__list__btn {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 41px;
    padding-right: 41px;
    margin-left: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: white;
    z-index: 1;


}

.checkbox {

    scale: 0.7;
    margin-bottom: 35px;

}


.checkbox__text {
    font-weight: 100;
    margin-right: 211px;
    width: 469px;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.priority {
    display: grid;
    margin-top: 140px;
    margin-left: 200px;
}
.priority h2{
    font-size: 40px;
    font-family: cormorant;
    margin-left: 497px;
    font-weight: 400;
   
    padding: 0px;
}
.priority__nav{
    display: flex;
}
.priority__nav ul {
    gap: 49px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    margin: 0px;
}
.priority__nav ul li{
    display: grid;
    
  
}
.priority__nav ul li h3 {
    margin: 10px;
    font-size: 30px;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.priority__nav ul li span {
    font-size: 20px;
    font-weight:bolder;

    text-align: center;
  
}
.priority__nav ul li .images{
    margin-top: 40px;
    margin-bottom: 8px;
    display: flex;
align-items: center;
justify-content: center;
}
.info__navbar{
    margin-top: 150px;
    background-color: #F7F2EA;
display: flex;
height: 593px;
}
.info__products {
    display: grid;
    margin-top: 100px;
    margin-left: 200px;
    padding: 0px;
}
.info__products ul li h2 {
font-size: 24px;
font-family: cormorant;
}

.info__products ul {
    display: flex;
    gap: 20px;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
}
.info__products ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    
}
.info__company {
    display: grid;
    margin-top: 100px;
    margin-left: 213px;

}
.info__company ul {
    margin: 0px;
    width: 155px;
    padding: 0px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.info__company ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.info__company ul li h2{
    font-size: 24px;
font-family: cormorant;
}
.info__tea {
display: flex;
flex-direction: column;
margin-top:179px ;
margin-left: 155px;

}
.info__tea p {
    width: 230px;
    
margin: 0px;
padding: 0px;
font-size: 16px;
font-weight: 300; 
font-style: italic; 
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.info__tea span {
    width: 100px;
font-size: 12px;
margin-top: 20px;
font-weight: 300; 
font-style: italic; 
}
.info__contact {
    display: flex;
    flex-direction: column;
}

.contact ul {
    display: flex;
}