body {
    margin: 0;
    padding: 0;
    font-family: cormorant
    ;
    overflow-x: hidden;
}

header ul {
    display: flex;
    align-items: center;
    gap: 65px;
    margin-left: 230px;
    padding-right: 10px;
    margin-right: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
    list-style: none;
}



header {
    display: flex;
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 61px;
}


.images__icon {
    display: flex;
    align-items: center;
}

.menu__width {
    padding-right: 20px;
}

header a {
    display: flex;
    margin-left: 150px;
    align-items: center;
    gap: 20px;

}

.icon {
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.image__main {
    display: flex;
    width: 100%;
    height: auto;
}

.image__main img .import {
    display: block;
    width: 100%;
    height: auto;

}

.image__main a {
    display: flex;
    padding-left: 200px;
    color: white;
    position: absolute;
  
    font-size: 60px;
    line-height: 100%;
    padding-top: 254px;
    letter-spacing: 0%;
}

.image__main p {
    display: flex;
    padding-left: 200px;
    color: white;
    position: absolute;
  
    font-size: 24px;
    line-height: auto;
    padding-top: 370px;
    letter-spacing: 0%;
    opacity: 80%;
}

.text {
    padding-top: 150px;
    padding-left: 448px;
    font-size: 40px;
    display: flex;
    text-align-last: center;
    font-style:  italic;
    font-family: cormorant;
    opacity: 90%;
    letter-spacing: 0;

}

.tea__color {
    margin-top: 150px;
    margin-left: 200px;
    width: auto;

    margin-right: 200px;
    height: 335px;
    display: grid;
    
}
.tea__color ul {
    display: flex;
    justify-content: space-around;

}
.tea__color ul li {
    text-align: center;
    display: grid;
}   

.tea__color ul li img {
    width: 208px;
    height: 208px;
}
.tea__text {
    padding-left: 421px;
 font-size: 40px;
  
   

}
.client__say {
    display: grid;
    background-color: #F7F2EA;
    margin-top: 150px;
    
    height: 397px;

}
.client__say__import{
    font-size: 40px;
    padding-top: 60px;
    padding-left: 641px;
    display: flex;
}
.client__say ul {
    width: 1198px;
    height: 169px;
    display: flex;
    padding-top: 60px;
    padding-left: 200px;
    gap: 26px;
    justify-content: space-around;
}
.client__say ul li p {
   font-size: 16px;
   font-style: italic;


}
.client__say ul li div {
    font-size: 20px;
    font-style: SemiBold;
}


.tea__blog {
    display: grid;
    margin-top: 150px;
    margin-left: 200px;
    width: 1142px;
    
}
.tea__blog__import{
    font-size: 40px;
    padding-left: 470px;
    display: flex;
}
.tea__blog ul{
    display: flex;
padding: 0px;

 
}
.tea__blog ul li{
    display: flex;
    width: 540px;
    height: 180px;
    
}

.tea__blog ul li div {
    display: grid;
    width: 542px;
    height: 180px;
    font-size: 24px;
    padding-left: 20px;

}
.tea__blog ul li div span {
    font-size: 13px ;
    font-style: light;
    padding-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

} 
.tea__blog ul li div a {
    color: black;
    text-decoration: none;
    padding-top: 48px;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.li__margin{
    margin-right: 57px;
}
.blog__all {
        margin-left: 486px;
        border: 1px solid black;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 41px;
      padding-right: 41px;
        display: inline-block;
        text-decoration: none;
        font-size: 20px;
        color: black;
        margin-top: 60px;

}




